*{
-fx-font-family: 'Reano';
}

/* MAIN SCREEN */

#startingScreenPane{
-fx-background-image: url('../sprites/UiDecor/startingScreenDecor.png');
-fx-background-size: cover;
-fx-background-position: center;
}
#mainNAME{
-fx-font-size: 48px;
-fx-text-fill: white;
}

.nonGameSelector{
-fx-background-color: white;
}

#gameVersion{
-fx-text-fill: white;
}

/*yes i found the rgb manually shut up*/
#anchorQuit{
-fx-background-color: rgb(185,189,193,0.9);
}

#labelQuit{
-fx-text-fill: white;
}

/* PAUSE SCREEN */

#decorBackground{
-fx-background-image: url('../sprites/UiDecor/allPurposeBackground.png');
-fx-background-size: contain;
-fx-background-position: center;

-fx-background-radius: 10;
-fx-border-radius: 10;
}

.outerButtonDecor{
-fx-background-image: url('../sprites/UiDecor/outsideButtonArt2.png');
-fx-background-size: contain;
-fx-background-position: center;
}

.pauseButton{
-fx-background-color: transparent;
-fx-border-color: transparent;
}

#outsideLabel{
-fx-background-image: url('../sprites/UiDecor/labelDecor2.png');
-fx-background-size: cover;
-fx-background-position: center;
}

#pausedLabel{
-fx-text-fill: white;
}
